<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.coolest.cet4.calculator">

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name=".MyApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.四级算分器">
		<activity
			android:name=".ui.ToolboxActivity"
			android:exported="false" />
		<activity
			android:name=".ui.AboutActivity"
			android:exported="false" />
		<activity
			android:name=".ui.ScrollingActivity"
			android:exported="true"
			android:label="@string/app_name"
			android:theme="@style/Theme.四级算分器.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<meta-data
			android:name="EasyGoClient"
			android:value="true" />
	</application>

</manifest>